form {
  }
  
  
  .App {
    text-align: center;

  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background:linear-gradient(#19183c, #27292d);

    height: 150px;
    padding: 20px;
    color: white;
  }

  h1 {
    color: white;
    font-weight: bold;
  }
  
  .image {
    margin-top: 2em;
    text-align: center;
  }
  
  .image-src {
    height: 300px;
    width: 300px;
  }

  .imgupload {
    margin-top: -550px;
    margin-bottom: 50px;
  }

  .image-url {
    margin-top: -570px;
    margin-bottom: 30px;

    color: white;
    font-weight: bold;
    background-color: red;
  }


  input {
    color:white;
  }

  .input-image {
    margin-left: 50px;
    background-color: transparent !important;

  }
  

  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  